<% if obj.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div id="error_explanation">
        <div class="alert alert-warning">
          <%= t "labels.form_has_errors" %>
          <ul>
            <% obj.errors.full_messages.each do |msg| %>
              <%= content_tag :li, msg %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
