<div>
  <p class="card-text">
    <%= content_tag :span, t("labels.name"), 
      class: "font-weight-bold text-uppercase" %><br>
    <%= box["name"] %>
  </p>
  <p class="card-text">
    <%= content_tag :span, t("labels.units_per_box"), 
      class: "font-weight-bold text-uppercase" %><br>
    <%= box["units"] %>
  </p>
  <hr>
</div>
